:root {
  --clr-neutral-900: #030303;
  --clr-neutral-100: #f3eae7;
  --clr-brand1-500: #164156;
  --clr-brand1-300: #106679;
  --clr-brand2-500: #651619;
  --clr-brand2-300: #9b2124;
  --clr-brand3-500: #0a6356;
  --clr-brand3-300: #10a58f;
  --clr-brand-accent-500: #b96601;
  --clr-brand-accent-300: #e79d43;
  --ff-accent: gill-sans-nova, sans-serif;
  --ff-primary: raleway, sans-serif;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  max-width: 100vw;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 0;
  font-family: raleway, sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.5;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: .8em;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: .5em;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.4;
}

a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.heading {
  font-family: gill-sans-nova, sans-serif;
  font-size: 3em;
  line-height: 1.2;
}

.paragraph {
  width: 60ch;
  font-family: raleway, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.paragraph.lighttext {
  color: var(--clr-neutral-100);
  padding-left: 0;
  font-family: raleway, sans-serif;
  line-height: 1.2;
}

.paragraph.lighttext.servicesp {
  width: 60ch;
  max-width: none;
  min-width: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.heading-2 {
  font-family: gill-sans-nova, sans-serif;
  line-height: 1.2;
}

.heading-4 {
  font-family: gill-sans-nova, sans-serif;
  font-size: 1em;
}

.heading-3 {
  padding-left: 0;
  font-family: gill-sans-nova, sans-serif;
}

.heading-5, .heading-6 {
  font-family: gill-sans-nova, sans-serif;
}

.brandcolor1-500 {
  background-color: var(--clr-brand1-500);
}

.brandcolor1-300 {
  background-color: var(--clr-brand1-300);
}

.brandcolor2-500 {
  background-color: var(--clr-brand2-500);
}

.brandcolor2-300 {
  background-color: var(--clr-brand2-300);
}

.brandcolor3-500 {
  background-color: var(--clr-brand3-500);
}

.brandcolor3-300 {
  background-color: var(--clr-brand3-300);
}

.clr-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.clr-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.section-fullscreen {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-brand1-500);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  transform: rotate(0);
}

.section-fullscreen.brandcolor1-300 {
  background-color: var(--clr-brand1-300);
  justify-content: flex-end;
}

.testpage-h1 {
  perspective: 385px;
  transform-origin: 50%;
  direction: ltr;
  color: var(--clr-brand1-500);
  order: 1;
  align-self: auto;
  margin-bottom: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: 10em;
  line-height: 1.2;
  transform: none;
}

.colorblock-section {
  width: 100vw;
  height: 20vh;
  background-color: rgba(16, 102, 121, 0);
}

.colorblock-blue {
  width: 100%;
  height: 100%;
  background-color: var(--clr-brand1-300);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.colorblock-green {
  width: 100%;
  height: 100%;
  background-color: var(--clr-brand3-300);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.colorblock-red {
  width: 100%;
  height: 100%;
  background-color: var(--clr-brand2-500);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.colorblock-darkblue {
  width: 100%;
  height: 100%;
  background-color: var(--clr-brand1-500);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.colorblock-section-fullscreen {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-wrapper.narrow {
  width: 20%;
  align-items: center;
}

.image {
  height: 100%;
}

.column-header {
  color: var(--clr-brand1-300);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 6em;
  line-height: 1.2;
}

.column-header.blue.subheader {
  font-size: 3em;
}

.column-header.red {
  color: var(--clr-brand2-300);
}

.column-header.red.subsection {
  font-size: 4em;
}

.column-header.red.subheader {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 3em;
}

.column-header.green {
  color: var(--clr-brand3-300);
}

.column-header.green.subheader {
  font-size: 3em;
}

.column-header.golden {
  color: var(--clr-brand-accent-500);
}

.column-header.golden.subheader {
  font-size: 3em;
}

.image-2 {
  color: var(--clr-neutral-900);
}

.colorblock-darkgreen {
  width: 100%;
  height: 100%;
  background-color: var(--clr-brand3-500);
  justify-content: center;
  align-items: center;
  display: flex;
}

.mainbutton {
  background-color: var(--clr-brand-accent-300);
  color: var(--clr-neutral-900);
  text-align: left;
  border-radius: 10px;
  align-self: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  padding: 15px 20px;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.mainbutton.footerbutton {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
}

.mainbutton.largebutton {
  padding: 30px 50px;
  font-size: 1.5em;
}

.mainbutton.secondarybutton {
  background-color: var(--clr-neutral-900);
  color: var(--clr-brand-accent-300);
  margin-left: 20px;
}

.colorblock-black {
  width: 100%;
  height: 100%;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  display: flex;
}

.colorblock-black.hero {
  background-image: url('../images/SMorejon-banigPattern-fullScreen-thick-31.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background-color: var(--clr-neutral-900);
  justify-content: space-between;
  display: flex;
}

.navlink {
  color: var(--clr-neutral-100);
}

.navlink:hover {
  color: var(--clr-brand-accent-300);
}

.navlink.w--current {
  color: var(--clr-neutral-100);
}

.navlink.w--current:hover {
  color: var(--clr-brand-accent-300);
}

.nav-menu {
  clear: none;
  align-self: auto;
  padding-top: 20px;
  position: relative;
}

.footer-section {
  width: 100vw;
  height: auto;
  background-color: var(--clr-neutral-900);
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-container {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-leftdiv {
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footerheading {
  color: var(--clr-neutral-100);
  text-align: center;
  padding-left: 0;
  font-size: 1em;
  font-weight: 500;
}

.footer-div {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.fontawesome-brand {
  color: var(--clr-neutral-100);
  padding: 10px 20px;
  font-family: "Fa Brands 400", sans-serif;
  font-size: 1.5em;
}

.fontawesome-brand:hover {
  color: var(--clr-brand-accent-300);
}

.footer-socialicons-flexdiv {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.footer-copyrightdiv {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.footer-copyright-textblock {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 21px;
  font-size: 1em;
}

.fontawesome-classic {
  font-family: "Fa 400", sans-serif;
  font-size: 1em;
}

.footer-rightdiv {
  width: 20%;
}

.footer-centerdiv {
  width: 50%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-quicklinks {
  color: var(--clr-neutral-100);
  padding-top: 10px;
  padding-bottom: 14px;
  font-size: .8em;
  font-weight: 100;
}

.footer-quicklinks:hover {
  color: var(--clr-brand-accent-300);
}

.footer-quicklinks-div {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.featuredwork-section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--clr-neutral-900);
}

.featuredwork-grid {
  width: 100%;
  height: auto;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  transition: opacity .2s;
}

.featuredwork-griddiv {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url('../images/CatherineShiflettPhotography--screens.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  position: static;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.featuredwork-griddiv:hover {
  background-color: var(--clr-neutral-900);
  background-image: none;
  background-size: auto;
}

.featuredwork-griddiv.mojo {
  background-image: url('../images/MojosCoffeehouse-screens.webp');
}

.featuredwork-griddiv.mojo:hover {
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  background-attachment: scroll;
}

.featuredwork-griddiv.bodhi {
  background-image: url('../images/bodhiTree-screens.webp');
}

.featuredwork-griddiv.bodhi:hover {
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  background-attachment: scroll;
}

.featuredwork-griddiv.renomme {
  background-image: url('../images/Renomme_screens.webp');
}

.featuredwork-griddiv.renomme:hover {
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  background-attachment: scroll;
}

.featuredwork-griddiv.forestea {
  background-image: url('../images/Forestea-18.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.featuredwork-griddiv.forestea:hover {
  background-color: var(--clr-neutral-900);
  background-image: url('../images/Forestea-01.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.featuredwork-griddiv.drip {
  background-image: url('../images/drip-logoSuite-02.webp');
  background-repeat: no-repeat;
  background-size: contain;
}

.featuredwork-griddiv.luxe {
  background-image: url('../images/luxe-screens.webp');
}

.featuredwork-griddiv.davidshipper {
  background-image: url('../images/DavidShipper2023-screens.png');
}

.featuredwork-griddiv-header {
  width: 100%;
  height: 100%;
  color: rgba(231, 157, 67, 0);
  text-align: center;
  object-fit: fill;
  background-color: rgba(3, 3, 3, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: 2em;
  font-weight: 700;
  display: flex;
  position: static;
}

.featuredwork-griddiv-header:hover {
  background-color: var(--clr-neutral-900);
  color: var(--clr-brand-accent-300);
}

.featuredwork-griddiv-wrapper {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  overflow: visible;
}

.featuredwork-griddiv-linkblock {
  width: 100%;
  height: 100%;
}

.styleguide-colordiv {
  width: 100%;
  height: 20vh;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.styleguide-colordiv.brandcolor-accent {
  background-color: var(--clr-brand-accent-300);
}

.styleguide-colordiv.brandcolor-accent-500 {
  background-color: var(--clr-brand-accent-500);
}

.styleguide-colors-flexdiv {
  display: flex;
}

.hero-section {
  width: 100vw;
  height: 80vh;
}

.hero-divwrapper {
  width: 100%;
  height: 100%;
  background-color: var(--clr-neutral-900);
  background-image: url('../images/SMorejon-banigPattern-fullScreen-thick-31.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
}

.services-section {
  width: 100vw;
  height: auto;
  min-height: 60vh;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.services-divwrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.section-mainheader {
  color: var(--clr-neutral-100);
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: 6em;
}

.services-flexdiv {
  width: 100%;
  height: auto;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.services-contentdiv {
  width: 100%;
  height: auto;
  text-align: left;
  border-radius: 0;
  flex-direction: column;
  align-self: auto;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  display: flex;
}

.services-contentdiv.design:hover {
  background-color: var(--clr-brand1-500);
  border-radius: 20px;
}

.services-categoryheader {
  padding-left: 0;
  font-size: 1.8em;
  font-weight: 300;
}

.services-ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

.services-li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 1em;
  font-weight: 200;
}

.services-linkblock {
  width: 100%;
  height: 100%;
  color: var(--clr-neutral-100);
  border-radius: 0;
}

.services-linkblock:hover {
  background-color: var(--clr-brand2-500);
  border-radius: 20px;
}

.services-linkblock.dev:hover {
  background-color: var(--clr-brand3-500);
}

.services-linkblock.ongoing:hover {
  background-color: var(--clr-brand-accent-500);
  border-radius: 20px;
}

.hr {
  width: 50%;
  height: 2px;
}

.hr.blue {
  background-color: var(--clr-brand1-300);
}

.hr.red {
  background-color: var(--clr-brand2-300);
}

.hr.yellow {
  background-color: var(--clr-brand-accent-300);
}

.hr.green {
  background-color: var(--clr-brand3-300);
}

.hr.white {
  background-color: var(--clr-neutral-100);
  margin-top: 0;
  margin-bottom: 10px;
}

.hr.white.vertical {
  transform: translate(38px)rotate(-90deg);
}

.section-introp {
  width: 60ch;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 300;
}

.navbar-logo {
  width: 100px;
  height: 100px;
}

.container {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: block;
}

.hero-flexdiv {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-flexdiv.left {
  width: 20%;
  height: auto;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-flexdiv.right {
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}

.hero-h1 {
  width: 100%;
  height: auto;
  max-height: none;
  max-width: none;
  color: var(--clr-neutral-100);
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 6em;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  overflow: visible;
}

.hero-h2 {
  width: 100%;
  color: var(--clr-neutral-100);
  text-align: center;
  align-self: auto;
  font-weight: 200;
}

.redtext {
  color: var(--clr-brand2-300);
}

.bluetext {
  color: var(--clr-brand1-300);
}

.greentext {
  color: var(--clr-brand3-300);
}

.hero-logodiv {
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.services-column {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.services-imgdiv {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-image: url('../images/website-design-wireframe-examples-of-web-and-mobil-2022-11-08-08-38-45-utc.webp');
  background-position: 50%;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services-imgdiv.workshops {
  background-image: url('../images/collaboration-and-analysis-by-business-people-work-2021-09-01-02-50-06-utc.webp');
  background-position: 50% 0;
}

.services-imgdiv.research {
  background-image: url('../images/ux-developer-and-ui-designer-brainstorming-about-m-2022-11-04-03-15-31-utc.webp');
}

.services-imgdiv.uxdesign {
  background-image: url('../images/website-design-wireframe-examples-of-web-and-mobil-2022-11-08-08-38-45-utc.webp');
}

.services-imgdiv.content {
  background-image: url('../images/smorejon_cool_image_of_seo_analytics_research_03542ed4-f7f7-4698-80c8-6cfb9ada3953.webp');
}

.sectiondiv {
  height: 100vh;
  background-color: var(--clr-neutral-900);
}

.textwrapper {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.body {
  color: var(--clr-neutral-900);
}

.goldentext {
  color: var(--clr-brand-accent-500);
}

.maincta {
  width: 100vw;
  height: 50vh;
  background-color: var(--clr-neutral-900);
  background-image: url('../images/SMorejon-banigPattern-fullScreen-thick-31.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
}

.maintcta-flexdiv {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.maincta-h3 {
  color: var(--clr-neutral-100);
  text-align: center;
  font-size: 3em;
}

.loader-section {
  width: 100vw;
  height: 20vh;
}

.loader-flexdiv {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.loadertext {
  font-size: 2em;
}

.about-section {
  width: 100vw;
  min-height: 80vh;
}

.about-section-flexdiv {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-sectionheader {
  width: 100%;
  background-image: url('../images/SMorejon-banigPattern-fullScreen-thick-31.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
}

.about-textdiv {
  width: auto;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.about-textdiv.horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.abouttext {
  width: 80%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  font-weight: 300;
}

.abouttext.closer {
  width: 80%;
  text-align: left;
  margin-top: 25px;
  padding-top: 0;
  padding-bottom: 0;
}

.abouttext-subheader {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 0;
}

.about-imagediv {
  height: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
}

.about-sm-photo {
  width: 250px;
  height: auto;
  border-radius: 50px;
}

.wavesgraphic-white {
  width: 100%;
}

.featuredwork-griddiv-subheader {
  color: var(--clr-neutral-100);
}

.featuredwork-subheader {
  font-size: .5em;
  font-weight: 300;
}

.techstack-section {
  width: 100vw;
  height: auto;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.techstack-flexdiv {
  width: 100%;
  height: 100%;
  background-color: var(--clr-neutral-900);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.techstack-contentdiv {
  width: 100%;
  height: 100%;
  background-color: var(--clr-neutral-900);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.techstack-textdiv {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.techstack-header {
  color: var(--clr-neutral-100);
  font-weight: 300;
}

.techstack-li {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 200;
}

.techstack-container {
  width: 75%;
  height: 100%;
}

.techstack-contentdiv-container {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.techstack-h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  transform: rotate(-90deg);
}

.featuredwork-cta {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.spaceelement-10vh {
  width: 100%;
  height: 10vh;
}

.navbar-container {
  width: 80%;
}

@media screen and (max-width: 991px) {
  .paragraph.lighttext {
    width: 50ch;
  }

  .column-wrapper.narrow {
    width: 20%;
  }

  .column-header.blue, .column-header.red, .column-header.green {
    font-size: 5em;
  }

  .navlink {
    text-align: right;
  }

  .icon {
    color: var(--clr-neutral-100);
  }

  .icon:hover {
    color: var(--clr-brand-accent-300);
  }

  .menu-button {
    background-color: var(--clr-neutral-900);
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu-button.w--open, .nav-menu {
    background-color: var(--clr-neutral-900);
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-socialicons-flexdiv {
    flex-direction: row;
  }

  .footer-centerdiv {
    flex-direction: column;
    align-items: center;
  }

  .footer-quicklinks-div {
    align-items: center;
  }

  .featuredwork-grid {
    grid-template-columns: 1fr;
  }

  .services-section {
    height: auto;
  }

  .section-mainheader {
    font-size: 5em;
  }

  .services-flexdiv {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .services-contentdiv.design, .services-contentdiv.design:hover, .services-linkblock, .services-linkblock.strategy, .services-linkblock.dev:hover, .services-linkblock.ongoing:hover {
    border-radius: 0;
  }

  .services-linkblock.design {
    border-radius: 1px;
  }

  .navbar-logo {
    width: 75px;
    height: 75px;
  }

  .container {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .hero-h1 {
    font-size: 5em;
  }

  .techstack-section, .techstack-flexdiv {
    flex-direction: column;
  }

  .techstack-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .paragraph {
    width: 50ch;
  }

  .paragraph.lighttext {
    width: 40ch;
  }

  .paragraph.lighttext.servicesp {
    width: 50ch;
  }

  .column-wrapper.narrow {
    width: 10%;
  }

  .column-header.blue, .column-header.red, .column-header.green {
    font-size: 3.5em;
  }

  .column-header.golden.subheader {
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .fontawesome-brand {
    font-size: 1.5em;
  }

  .footer-socialicons-flexdiv {
    flex-direction: row;
  }

  .footer-rightdiv {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer-centerdiv, .footer-quicklinks-div {
    flex-direction: column;
    align-items: center;
  }

  .section-introp {
    width: 90%;
  }

  .hero-h1 {
    font-size: 3em;
  }

  .hero-h2 {
    font-size: 1.5em;
  }

  .about-textdiv {
    width: 90%;
  }

  .abouttext.closer {
    width: 100%;
  }

  .abouttext-subheader {
    width: 80%;
  }

  .aboutcontainer {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    width: 25ch;
  }

  .paragraph.lighttext {
    width: 25ch;
    font-size: .9em;
  }

  .paragraph.lighttext.servicesp {
    width: 30ch;
  }

  .column-header.blue {
    font-size: 2.5em;
  }

  .column-header.blue.subheader {
    font-size: 2em;
  }

  .column-header.red {
    font-size: 2.5em;
  }

  .column-header.red.subheader {
    font-size: 2em;
  }

  .column-header.green {
    font-size: 2.5em;
  }

  .column-header.green.subheader {
    font-size: 2em;
  }

  .column-header.golden {
    font-size: 3em;
  }

  .column-header.golden.subheader {
    max-width: 100%;
    font-size: 2em;
  }

  .mainbutton {
    font-size: .8em;
  }

  .mainbutton.footerbutton {
    padding-left: 10px;
    padding-right: 10px;
    font-size: .8em;
  }

  .mainbutton.largebutton {
    font-size: 1em;
  }

  .footerheading {
    font-size: .8em;
  }

  .fontawesome-brand {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
  }

  .footer-socialicons-flexdiv {
    width: 100vw;
    flex-direction: row;
  }

  .footer-copyrightdiv {
    width: 100%;
    background-color: var(--clr-neutral-900);
  }

  .footer-rightdiv {
    width: 100%;
  }

  .footer-quicklinks-div {
    justify-content: flex-start;
  }

  .featuredwork-griddiv-header {
    font-size: 1.5em;
  }

  .services-divwrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .section-mainheader {
    padding-left: 0;
    font-size: 3em;
  }

  .section-introp {
    width: 90%;
  }

  .hero-h1 {
    text-align: center;
    font-size: 2em;
  }

  .hero-h2 {
    font-size: .8em;
  }

  .maincta-h3 {
    font-size: 2.5em;
  }

  .abouttext.closer {
    width: 25ch;
  }

  .abouttext-subheader, .techstack-container {
    width: 100%;
  }
}

#w-node-fbd800e3-73a3-9c84-f2a5-4d71470720d2-470720d0, #w-node-fbd800e3-73a3-9c84-f2a5-4d71470720d4-470720d0, #w-node-fbd800e3-73a3-9c84-f2a5-4d71470720dc-470720d0, #w-node-fbd800e3-73a3-9c84-f2a5-4d71470720de-470720d0, #w-node-fbd800e3-73a3-9c84-f2a5-4d71470720e6-470720d0, #w-node-fbd800e3-73a3-9c84-f2a5-4d71470720e8-470720d0, #w-node-fbd800e3-73a3-9c84-f2a5-4d71470720f0-470720d0, #w-node-fbd800e3-73a3-9c84-f2a5-4d71470720f2-470720d0, #w-node-_41f139f2-b8d4-7d8c-65fd-d5e4cb4ade2f-cb4ade2d, #w-node-_41f139f2-b8d4-7d8c-65fd-d5e4cb4ade31-cb4ade2d, #w-node-_41f139f2-b8d4-7d8c-65fd-d5e4cb4ade34-cb4ade2d, #w-node-_41f139f2-b8d4-7d8c-65fd-d5e4cb4ade36-cb4ade2d, #w-node-_41f139f2-b8d4-7d8c-65fd-d5e4cb4ade39-cb4ade2d, #w-node-_41f139f2-b8d4-7d8c-65fd-d5e4cb4ade3b-cb4ade2d, #w-node-_41f139f2-b8d4-7d8c-65fd-d5e4cb4ade40-cb4ade2d, #w-node-_41f139f2-b8d4-7d8c-65fd-d5e4cb4ade42-cb4ade2d, #w-node-e264bfc2-9137-676a-921c-c581993cbbc3-993cbbc1, #w-node-e264bfc2-9137-676a-921c-c581993cbbc5-993cbbc1, #w-node-e264bfc2-9137-676a-921c-c581993cbbc8-993cbbc1, #w-node-e264bfc2-9137-676a-921c-c581993cbbca-993cbbc1, #w-node-_219c9d0a-b7c9-b1a0-9f48-15b41149a77c-993cbbc1, #w-node-_219c9d0a-b7c9-b1a0-9f48-15b41149a77e-993cbbc1, #w-node-e264bfc2-9137-676a-921c-c581993cbbcd-993cbbc1, #w-node-e264bfc2-9137-676a-921c-c581993cbbcf-993cbbc1, #w-node-c56395b4-2b30-e438-b629-aa09acdac7e4-993cbbc1, #w-node-c56395b4-2b30-e438-b629-aa09acdac7e6-993cbbc1, #w-node-e264bfc2-9137-676a-921c-c581993cbbd4-993cbbc1, #w-node-e264bfc2-9137-676a-921c-c581993cbbd6-993cbbc1, #w-node-e8cf1bab-f603-2911-0798-fb23f161c96a-993cbbc1, #w-node-e8cf1bab-f603-2911-0798-fb23f161c96c-993cbbc1, #w-node-_024d9904-1488-fe3c-f1c4-f8bdbd39dbb8-993cbbc1, #w-node-_024d9904-1488-fe3c-f1c4-f8bdbd39dbba-993cbbc1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Fa V 4 Compatibility';
  src: url('../fonts/fa-v4compatibility.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Brands 400';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Solid 900';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}